@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #3e4647; /* Núcleo 4 – CMV */
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

a {
    color: #4bbbc8;
    font-weight: 500;
}

    a:hover {
        color: #548287;
    }

.text-muted {
    color: #8d908f;
}