@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #3e4647; /* Núcleo 4 – CMV */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #3e4647; /* 4 Núcleo – CMV */
    }
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

h1, h2, h3 {
    color: #3e4647;
}

a {
    color: #4bbbc8; /* cor principal CMV */
    font-weight: 500;
}

    a:hover {
        color: #548287; /* 2º núcleo */
    }

.text-muted {
    color: #8d908f; /* Associados / Agregados */
}